<div class="login-page">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="assets/img/flat-avatar.png" class="user-avatar img-circle img-responsive" />
			<h1>Araka<br/ ><span>DASHBOARD</span><br /><small>L'évolution est en marche</small></h1>
		</div>
	</div>
	<div class="form-content">
		<div class="bottom-75" >
			<h1>Accès restreint
				<small>Vous devez être administrateur du serveur pour pouvoir continuer</small>
			</h1>
			<p>
				<a class="btn btn-primary btn-lg btn-white login" href="auth/discord">Me connecter <img src="assets/img/arrow.png" alt=""></a>
			</p>
		</div>
	</div>
</div>