	<div class="fr">
		<h2>Araka <small>Bot Administration</small></h2>
	</div>
	<div class="jumbotron">


		<div class="col-md-4">
			<div class="container">
				<h2>Plugins</h2>
				<div class="panel panel-default">
					<div class="panel-body">

						<div class="list-group">
							<a href="#" class="Commands list-group-item" ng-repeat='plugin in plugins' ng-click="selectPlugin(plugin._id)">
								<span class="badge enabled">{{plugin.active ? 'Actif' : 'Desactivé'}}</span>
								<h4 class="list-group-item-heading"><i class="fa fa-exclamation" aria-hidden="true"></i>  {{plugin.name}}</h4>
								<p class="list-group-item-text">{{plugin.description}}</p>
							</a>
						</div>


					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 ng-hide" ng-show="pluginInfo">
			<div class="container">
				<h2><i class="fa fa-exclamation" aria-hidden="true"></i>  {{pluginInfos.name}}</h2>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="lv-header-alt clearfix m-b-5">
							<h2 class="lvh-label hidden-xs">{{pluginInfos.description}}</h2>            
						</div>

						<div class="checkbox m-b-15">
							<label>
							<input type="checkbox" value="" ng-checked="pluginInfos.active"><i class="input-helper"></i>
								Activer / desactiver cette commande
							</label>
						</div>

					</div>
				</div>
			</div>
		</div>



	</div>