    <div class="fr">
        <h2>Araka <small>Bot Administration</small></h2>
    </div>
    <div class="jumbotron">

        <div class="container">

            <div class="block-header">
            <h2>Utilisateurs<small> Liste des utilisateurs</small></h2>
            </div>

            <div class="card">
                <div class="lv-header-alt clearfix m-b-5">
                    <h2 class="lvh-label hidden-xs">{{users.length}} Enregistrement(s)</h2>            
                </div>


                <div class="card-body card-padding">


                 <div class="contacts clearfix row">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="user in users">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img ng-src="https://discordapp.com/api/users/{{user.userId}}/avatars/{{user.avatar}}.jpg" err-src="http://findicons.com/files/icons/1072/face_avatars/300/i04.png" alt="">
                            </a>

                            <div class="c-info">
                                <strong>{{user.pseudo}}</strong>
                            </div>

                            <!--<div class="c-footer">
                                <button class="waves-effect"><i class="zmdi zmdi-person-add"></i> Add</button>
                            </div>-->
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>