// wiredep-removed:bower:less
// wiredep-removed:endbower

@import "less/bootstrap.less";
@import "base.less";
// Base

// Pages
@import "pages/login.less";
@import "pages/dashboard.less";
@import "pages/menu.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "widgets/checkbox.less";
@import "btn-outline-rounded.less";
@import "transitions/all.less";
@import "transitions/animations.less";

@import "widgets/variables.less";
@import "widgets/mixin.less";
@import "widgets/header.less";
@import "widgets/card.less";
@import "widgets/contacts.less";
@import "widgets/listview.less";
@import "widgets/form.less";

@import "angular-snap/angular-snap.less";

// Other
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
	overflow: hidden;
}