.snap-menu p{
	margin-top: 5px;
	font-weight: bold;
	font-size : 22px;
}

.snap-footer {
    position: relative;
    height: 50px;
    top: 100px;
    width: 265px;
    text-align: center;
}
