<snap-drawer>
    <div class=snap-menu >
        <div class="sidebar-header text-center">
            <img src=assets/img/flat-avatar.png class="sidebar-img img-circle">
            <p>{{userData.pseudo}}</p>
        </div> 

        <ul class=snap-ul  >
            <li ng-repeat="item in menuItems" ng-class="{active: $state.includes('{{item.name}}') }">
                <a ui-sref={{item.name}}>{{item.text}}</a>
            </li>
        </ul>
    </div>

    <footer class="snap-footer">
    <hr/>
        <span id="year-copy">2016</span> &copy;
        <strong>Araka Dashboard</strong>
        <br />
        <strong>
            <a href="#">Renouveaux Inc</a>
        </strong>
    </footer>

</snap-drawer> 
